.icon-sprite {
    width: 64px;
    height: 64px;
    scale: 0.4;
    margin: -18px;
    border: 0;
    display: inline-block;
    vertical-align: middle;
}

.icon--contained, .process--contained {
    border: 3px solid white;
    border-radius: 9px;
}

.item--raw, .process--raw {
    font-family: monospace;
}

.req__main-table {
    vertical-align: middle;
}

.req__produce {
    width: 6em;
    text-align: right;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.proc__mod-amount {
    width: 6em;
    text-align: right;
    display: inline-block;
}

.proc__mod-style {
    width: 4em;
    display: inline-block;
    font-family: monospace;
}

.req__produce:disabled {
    color: var(--bs-secondary-border-subtle);
}

.req__radio--auto {
    font-style: italic;
    text-decoration: underline;
    text-decoration-style: dashed;
    background-color: var(--bs-primary-bg-subtle);
}

.req__find {
    margin-left: 0.2em;
    margin-right: 0.4em;
}

@media (width <= 1930px) {
    .req__find_label {
        display: none;
    }
}
